<div class="root d-flex">
  <div class="plan">
    <div class="plan-text-wrapper">
      <p class="plan-text">プランテキスト</p>
    </div>
    <div class="plan-amount-wrapper">
      <p class="plan-amount"><span>¥</span>5,000</p>
      <p class="monthly">月額</p>
    </div>
    <div class="plan-contents">
      <div class="plan-content">
        <p class="plan-content-text">入会金0円</p>
      </div>
      <div class="plan-content">
        <p class="plan-content-text">平日:9時〜17時</p>
      </div>
      <div class="plan-content">
        <p class="plan-content-text">土日祝:利用ナシ</p>
      </div>
      <div class="plan-content">
        <p class="plan-content-text">コアタイムでの利用に最適なプラン</p>
      </div>
    </div>
  </div>
  <div class="plan">
    <div class="plan-text-wrapper">
      <p class="plan-text">プランテキスト</p>
    </div>
    <div class="plan-amount-wrapper">
      <p class="plan-amount"><span>¥</span>5,000</p>
      <p class="monthly">月額</p>
    </div>
    <div class="plan-contents">
      <div class="plan-content">
        <p class="plan-content-text">入会金0円</p>
      </div>
      <div class="plan-content">
        <p class="plan-content-text">平日:9時〜17時</p>
      </div>
      <div class="plan-content">
        <p class="plan-content-text">土日祝:利用ナシ</p>
      </div>
      <div class="plan-content">
        <p class="plan-content-text">コアタイムでの利用に最適なプラン</p>
      </div>
    </div>
  </div>
</div>
