@use '../../variables' as *;
@use '../../atoms/header/nav-link.scss' as *;

.header-container{
  display: flex;
  justify-content: space-between;
  background-color: $black_50;
  .main-logo{
    line-height: 84px;
    width: 140px;
    height: 23px;
    margin: auto 30px;
  }
  .nav-list{
    .link{
      &:nth-of-type(2){
        position: relative;
        &:hover .dropdown {
          display: block;
        }
        .dropdown{
          position: absolute;
          top: 90px;
          padding-right: 0px;
          background-color: $black;
          display: none;
        }
      }
      &:last-of-type{
        padding-right: 50px;
      }
    }
  }
}