<div class="header-container d-flex justify-content-between">
  <img src="../../../img/logo.png" alt="" class="main-logo">
  <ul class="nav-list">
    <li class="link"><a>HOME</a></li>
    <li class="link"><a>CONCEPT<a>
      <ul class="dropdown-menu-a">
        <li class="menu">
          <p>ブログアーカイブ</p>
        </li>
        <li class="menu">
          <p>お知らせアーカイブ</p>
        </li>
        <li class="menu">
          <p>イベントアーカイブ</p>
        </li>
        <li class="menu">
          <p>インタビューアーカイブ</p>
        </li>
        <li class="menu">
          <p>FAQページ</p>
        </li>
        <li class="menu">
          <p>固定ページ(デフォルト)</p>
        </li>
        <li class="menu">
          <p>CONCEPT</p>
        </li>
        <li class="menu">
          <p>SERVICE</p>
        </li>
        <li class="menu">
          <p>FLOOR</p>
        </li>
        <li class="menu">
          <p>ACCESS</p>
        </li>
      </ul>
    </li>
    <li class="link"><a>SERVICE</a></li>
    <li class="link"><a>FLOOR</a></li>
    <li class="link"><a>INTERVIEW</a></li>
    <li class="link"><a>BLOG</a></li>
    <li class="link"><a>ACCESS</a></li>
    <li class="link"><a>DOWNLOAD</a></li>
  </ul>
  <a  class="humberger-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#dropdown-menu"
      aria-controls="dropdown-menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
  >
    <button class="humberger-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../../../img/humberger-bar.png" alt="" class="humberger">
    </button>
  </a>
</div>
<div class="relative">
  <ul class="nav-list collapse" id="navbarNav">
    <li class="link"><a>HOME</a></li>
    <li class="link align-items-center">
      <div class="d-flex justify-content-between">
        <div>
          <a>CONCEPT</a>
        </div>
        <div>
          <a  class="humberger-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#dropdown"
          aria-controls="dropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
              <rect width="26" height="26"/>
              <circle cx="13" cy="13" r="12.5" stroke="white"/>
              <path d="M8 13H18" stroke="white" stroke-width="2"/>
              <path d="M13 18V8" stroke="white" stroke-width="2"/>
              <rect x="-57.5" y="-19.5" width="103" height="65" rx="4.5" stroke="#7B61FF" stroke-dasharray="10 5"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="dropdown collapse" id ="dropdown">
        <a href="#" class="menu">
          ブログアーカイブ
        </a>
        <a href="#" class="menu">
          お知らせアーカイブ
        </a>
        <a href="#" class="menu">
          イベントアーカイブ
        </a>
        <a href="#" class="menu">
          インタビューアーカイブ
        </a>
        <a href="#" class="menu">
          FAQページ
        </a>
        <a href="#" class="menu">
          固定ページ(デフォルト)
        </a>
        <a href="#" class="menu">
          CONCEPT
        </a>
        <a href="#" class="menu">
          SERVICE
        </a>
        <a href="#" class="menu">
          FLOOR
        </a>
        <a href="#" class="menu">
          ACCESS
        </a>
      </div>
    </li>
    <li class="link"><a>SERVICE</a></li>
    <li class="link"><a>FLOOR</a></li>
    <li class="link"><a>BLOG</a></li>
    <li class="link"><a>ACCESS</a></li>
    <li class="link"><a>DOWNLOAD</a></li>
  </ul>
</div>

