@use "../../molecules/news-and-events-more/news-and-events-more" as *;
@use "../../molecules/news-and-events-title/news-and-events-title.scss" as *;
@use "../../variables" as *;
@use "../../reset" as *;

.news-list{
  border: 1px solid $gray_gainsboro;
  .news-card{
    background-color: $white;
    padding: 20px;
    outline-offset: -1px;
    border-bottom: 1px solid $gray_gainsboro;
    height: 85px;
    &:last-of-type {
      border-bottom:none;
    }
    .date{
      font-size: 12px;
      color: $gray_nobel;
      margin-bottom: 10px;
      font-family: $fontfamily-gothic;
    }
    .news-caption{
      font-family:$fontfamily-gothic;
      font-size: 16px;
      line-height: 23px;
      color: $black;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: 0.2s ease;
      &:hover{
        color: $orange_bistre;
      }
    }
  }
}
.font{
  font-family: $fontfamily-gothic;
}