<div class="footer">
  <div class="contact-wrapper text-center">
    <img src="../../../img/logo-black.png" alt="" />
    <address class="info">
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />
      TEL.06-1234-5678 FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 /
      不定休
    </address>
    <div class="icons text-center">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fas fa-rss"></i></a>
    </div>
  </div>
  <div class="footer-nav-list text-center">
    <ul>
      <div class="d-flex links">
        <li class="footer-nav-link"><a class="footer-link">HOME</a></li>
        <li class="footer-nav-link"><a class="footer-link">CONCEPT</a></li>
      </div>
      <div class="d-flex links">
        <li class="footer-nav-link"><a class="footer-link">SERVICE</a></li>
        <li class="footer-nav-link"><a class="footer-link">FLOOR</a></li>
      </div>
      <div class="d-flex links">
        <li class="footer-nav-link"><a class="footer-link">INTERVIEW</a></li>
        <li class="footer-nav-link"><a class="footer-link">BLOG</a></li>
      </div>
      <div class="d-flex links">
        <li class="footer-nav-link"><a class="footer-link">ACCESS</a></li>
        <li class="footer-nav-link"><a class="footer-link">DOWNLOAD</a></li>
      </div>
    </ul>
  </div>
  <div class="copyright-wrapper">
    <p class="copyright text-center">
      Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
    </p>
  </div>
</div>
