@use "../../variables" as *;

.button{
  text-align: center;
  background-color: $black;
  color: $white;
  font-family: $fontfamily-gothic;
  line-height: 55px;
  display:inline-block;
  &:hover{
    color: $white;
    text-decoration: none;
    background-color: $orange_bistre;
    animation: 0.2s ease;
  }
  @media screen and (min-width: $breakpoint-lg){
    width: 200px;
  }
  @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg){
    width: 150px;
  }
  @media screen and (max-width: $breakpoint-md){
    line-height: 45px;
    width: 180px;
  }
}
