@use "../../reset" as *;
@use "../../variables" as *;

.organisms-plans {
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  margin-bottom: 100px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 35px;
  }
  .plans-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
    @media (max-width: $breakpoint-md) {
      display: block;
    }
  }
  .plan {
    margin-bottom: 62px;
    width: calc(calc(100% - 60px) / 3);
    @media (max-width: $breakpoint-md) {
      width: 100%;
      margin-bottom: 24px;
    }
  }
}
.container {
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100%;
}
