<div class="organisms-plans container">
  <div class="message_wrapper">
    <h2 class="main-heading">ライフスタイルに合わせて選べる多彩なプラン。</h2>
    <p class="main-caption">
      平日のみのプラン、仕事帰りをコアタイムとした夕方以降が中心のプラン、休日をメインとしたプランなど、<br />
      多彩なプランの中からそれぞれのお客様のライフスタイルに合わせてお選びいただけます。<br />
      ビジター料金でのご利用も可能ですので、月額会員登録の前に体験をしたいという方もぜひご利用ください。
    </p>
  </div>
  <div class="plans-wrapper">
    <div class="plan">
      <div class="plan-text-wrapper">
        <p class="plan-text">プランテキスト</p>
      </div>
      <div class="plan-amount-wrapper">
        <p class="plan-amount"><span>¥</span>5,000</p>
        <p class="monthly">月額</p>
      </div>
      <div class="plan-contents">
        <div class="plan-content">
          <p class="plan-content-text">入会金0円</p>
        </div>
        <div class="plan-content">
          <p class="plan-content-text">平日:9時〜17時</p>
        </div>
        <div class="plan-content">
          <p class="plan-content-text">土日祝:利用ナシ</p>
        </div>
        <div class="plan-content">
          <p class="plan-content-text">コアタイムでの利用に最適なプラン</p>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="plan-text-wrapper">
        <p class="plan-text">プランテキスト</p>
      </div>
      <div class="plan-amount-wrapper">
        <p class="plan-amount"><span>¥</span>5,000</p>
        <p class="monthly">月額</p>
      </div>
      <div class="plan-contents">
        <div class="plan-content">
          <p class="plan-content-text">入会金0円</p>
        </div>
        <div class="plan-content">
          <p class="plan-content-text">平日:9時〜17時</p>
        </div>
        <div class="plan-content">
          <p class="plan-content-text">土日祝:利用ナシ</p>
        </div>
        <div class="plan-content">
          <p class="plan-content-text">コアタイムでの利用に最適なプラン</p>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="plan-text-wrapper">
        <p class="plan-text">プランテキスト</p>
      </div>
      <div class="plan-amount-wrapper">
        <p class="plan-amount"><span>¥</span>5,000</p>
        <p class="monthly">月額</p>
      </div>
      <div class="plan-contents">
        <div class="plan-content">
          <p class="plan-content-text">入会金0円</p>
        </div>
        <div class="plan-content">
          <p class="plan-content-text">平日:9時〜17時</p>
        </div>
        <div class="plan-content">
          <p class="plan-content-text">土日祝:利用ナシ</p>
        </div>
        <div class="plan-content">
          <p class="plan-content-text">コアタイムでの利用に最適なプラン</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a href="#" class="button">プラン料金</a>
  </div>
</div>
