@use "../../variables" as *;

.images {
  width: 100%;
  display: flex;
  @media (max-width: $breakpoint-lg) {
    display: block;
  }
  img {
    width: 50%;
  }
}
.message_wrapper {
  background-color: $white_smoke;
  .main-caption {
    font-family: $fontfamily-gothic;
  }
}
.container {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}
