@use '../../variables' as *;

.organisms-cards{
  display: flex;
  justify-content: space-around;
  .card{
    width: calc(calc(100% - 96px) / 3);
    margin-bottom: 100px;
    @media (max-width: $breakpoint-lg){
      width: 100%;
      margin-bottom: 40px;
    }
  }
  @media (max-width: $breakpoint-lg){
    display: block;
  }
}