<ul class="dropdown">
  <li class="menu">
    <p>dropdown-text</p>
  </li>
  <li class="menu">
    <p>dropdown-text</p>
  </li>
  <li class="menu">
    <p>dropdown-text</p>
  </li>
  <li class="menu">
    <p>dropdown-text</p>
  </li>
  <li class="menu">
    <p>dropdown-text</p>
  </li>
  <li class="menu">
    <p>dropdown-text</p>
  </li>
  <li class="menu">
    <p>dropdown-text</p>
  </li>
  <li class="menu">
    <p>dropdown-text</p>
  </li>
  <li class="menu">
    <p>dropdown-text</p>
  </li>
  <li class="menu">
    <p>dropdown-text</p>
  </li>
</ul>