<div class="dropdown-menu">
  <a href="#" class="menu">
    ブログアーカイブ
  </a>
  <a href="#" class="menu">
    お知らせアーカイブ
  </a>
  <a href="#" class="menu">
    イベントアーカイブ
  </a>
  <a href="#" class="menu">
    インタビューアーカイブ
  </a>
  <a href="#" class="menu">
    FAQページ
  </a>
  <a href="#" class="menu">
    固定ページ(デフォルト)
  </a>
  <a href="#" class="menu">
    CONCEPT
  </a>
  <a href="#" class="menu">
    SERVICE
  </a>
  <a href="#" class="menu">
    FLOOR
  </a>
  <a href="#" class="menu">
    ACCESS
  </a>
</div>