@use "../../variables" as *;

.menu{
  color: $white;
  background-color: $black;
  font-family: $fontfamily-gothic;
  list-style: none;
  transition: 0.2s ease;
  width: 220px;
  display: block;
  padding: 18px;
  &:hover{
    background-color: $orange_bistre;
    text-decoration: none;
    color: $white;
  }
  @media (max-width:$breakpoint-xl) {
    width: 100%;
    &:hover{
      background-color: $black;
    }
  }
}
