@use "../../variables" as *;

.menu{
  color: $white;
  background-color: $black;
  list-style: none;
  transition: 0.2s ease;
  width: 220px;
  display: block;
  padding: 18px;
  &:hover{
    background-color: $orange_bistre;
  }
  @media (max-width:$breakpoint-xl) {
    width: 100%;
  }
}
